{% if item is defined %}

	<div class="row justify-content-center">
		<div class="{{ col_1_2 }}">
			{% embed 'widgets/card-widget.html.twig' %}
				{% block card_class %}
					card-primary card-outline
				{% endblock %}
				{% block card_body_class %}
					box-profile
				{% endblock %}
				{% block card_body %}
					<div class="text-center">
						<i class="{{item.icone}} fa-3x" style="background-color:{{item.bgcolor}};color:{{item.forecolor}};"></i>
					</div>
					<h3 class="profile-username text-center">{{ item.Name }}</h3>

					<small class="float-right">
						{% if item.isEnable %}
							<span class="text-success">Visible</span>
						{% else %}
							<span class="text-danger">Masquée</span>
						{% endif %}
					</small>
				{% endblock %}
			{% endembed %}

			{% if item.content %}
				{% embed 'widgets/card-widget.html.twig' %}
					{% block card_body %}
						{{ item.content |raw }}
					{% endblock %}
				{% endembed %}
			{% endif %}


			{% embed 'widgets/card-widget.html.twig' %}
				{% import "macros/widgets.html.twig" as widgets %}

				{% block card_title %}Passage
				{% endblock %}
				{% block card_body_class %}{% endblock %}
				{% block card_body %}
					<div class="row">
						<div class="col-6 d-flex align-items-center">
							{% if item.isValidatedByControl %}
								{{ widgets.icon('check','text-success fa-2x mr-4') }}
								<span class="text-success">Service contrôle</span>
							{% else %}
								{{ widgets.icon('nocheck','text-warning fa-2x mr-4') }}
								<span class="text-warning">Service contrôle</span>
							{% endif %}
						</div>
						<div class="col-6 d-flex align-items-center">
							{% if item.isValidatedByDoc %}
								{{ widgets.icon('check','text-success fa-2x mr-4') }}
								<span class="text-success">Service documentation</span>
							{% else %}
								{{ widgets.icon('nocheck','text-warning fa-2x mr-4') }}
								<span class="text-warning">Service documentation</span>
							{% endif %}
						</div>
					</div>
				{% endblock %}
			{% endembed %}

			{% embed 'widgets/card-widget.html.twig' %}
				{% import "macros/widgets.html.twig" as widgets %}

				{% block card_title %}Validation
				{% endblock %}
				{% block card_body_class %}{% endblock %}
				{% block card_body %}
					<div class="row">
						<div class="col-6 d-flex align-items-center">
							{% if item.isValidatedByADD %}
								{{ widgets.icon('user','text-success fa-2x mr-4') }}
								<span class="text-success">
									Agent de Direction</span>
							{% else %}
								{{ widgets.icon('user','text-info fa-2x mr-4') }}
								<span class="text-info">Valideur / Manager stratégique</span>
							{% endif %}
						</div>

					</div>
				{% endblock %}
			{% endembed %}


			{% embed 'widgets/card-widget.html.twig' %}
				{% import "macros/widgets.html.twig" as widgets %}

				{% block card_title %}Révision
				{% endblock %}
				{% block card_body_class %}text-center
				{% endblock %}
				{% block card_body %}
					La révision sera automatiquement tous les<strong>
						{{ item.timeBeforeRevision }}
						mois</strong>
				{% endblock %}
			{% endembed %}

		</div>
	</div>


{% endif %}
