{% extends 'baseProfil.html.twig' %}


{% block title %}
	Connexion
{% endblock %}


{% block body %}
	<div class="login-box">
		<div class="login-logo">
			{{ app_name }}
		</div>
		<div class="card">
			<div class="card-body login-card-body">
				<p class="login-box-msg">Connectez-vous pour ouvrir une session</p>
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.user %}
					<div class="mb-3">
						Vous êtes déjà connecté
						{{ app.user.name }},
						<a href="{{ path('app_logout') }}">
							Déconnexion ?</a>
					</div>
				{% endif %}
				<form class="form-horizontal" method="post">
					<div class="input-group mb-3">
						<input type="email" class="form-control" value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail" required autofocus>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="Mot de passe" name="password" id="inputPassword" required>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					</div>
					<div class="row">
						<div class="col-7">
							<div class="icheck-primary">
								<input type="checkbox" id="_remember_me" name="_remember_me">
								<label for="_remember_me">
									Se souvenir de moi ?
								</label>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-5">
							<button type="submit" id="login" name="login" class="btn btn-primary btn-block btn-flat">
								Connexion
							</button>
						</div>
						<!-- /.col -->
					</div>
				</form>

				<p class="mb-1 mt-5">
					<a id="forget" href="{{ path('password_forget') }}" title="Password forget?">
						Mot de passe oublié ?
					</a>
				</p>
				<p class="mb-0">
					<a href="{{ path('registration') }}" title="Créer un compte">
						Créer un compte
					</a>
				</p>


			</div>
			<!-- /.login-card-body -->
		</div>
	</div>

{% endblock %}
