{% extends 'base.html.twig' %}
{% block title %}
	{{ app_name }}
	- Page d'accueil
{% endblock %}
{% block page_title %}{% endblock %}

{% block page_content %}
	{% import "macros/default.html.twig" as dft %}
	{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		{{ dft.no_connexion() }}
	{% else %}
		{% import "macros/user.html.twig" as user %}
		{% import "macros/widgets.html.twig" as widgets %}
		{% import "macros/backpack.html.twig" as bkp %}


		{{user.messageEmailValidated(app.user)}}

		<div class="row justify-content-center mb-5 d-flex align-items-center">
			<div class="col-sm-12 col-md-6 col-xl-3 ">
				{{ render(controller('App\\Controller\\SubscriptionController::myWidgetAction')) }}
			</div>
			<div class="col-sm-12 col-md-6 col-xl-3 ">
				{{ render(controller('App\\Controller\\BackpackTreeController::widgetBackpackSubscriptionAction')) }}
			</div>
			<div class="col-sm-12 col-md-6 col-xl-3 ">
				{{ render(controller('App\\Controller\\BackpackTreeController::widgetBackpacksAction')) }}
			</div>
			<div class="col-sm-12 col-md-6 col-xl-3 ">
				{{ render(controller('App\\Controller\\BackpackTreeController::widgetBackpacksInProgressAction')) }}
			</div>
		</div>

		<div class="row justify-content-center mt-2  d-flex align-items-center ">
			<div class="col-sm-12 col-lg-8 row">
				{% set nbr = 0 %}
				{% for sub in app.user.subscriptions %}
					{% if sub.isEnable is same as(true) %}
						{% set nbr=nbr+1 %}
					{% endif %}
				{% endfor %}

				{% if news | length==0 %}
					<div class="col-sm-12 col-lg-4 ">
					<div class="mb-5">
						<a href="{{ path('backpacks_news') }}" target="_self" class=" hvr-float-shadow">
							<div class="d-flex w-100 align-items-center">
								<div class="col-sm-2 col-md-2 text-center">
									<i class="fas fa-certificate fa-2x text-p-dark2"></i>

								</div>
								<div class="col-sm-10 col-md-10">
									<h5 class="mb-1 text-p-dark2">
										<strong>Toutes les actualités</strong>
									</h5>
								</div>
							</div>
						</a>
					</div>					
						{% if nbr>0 %}
							<h5 class="text-p-dark">Aucune actualité pour vos abonnements</h5>
						{% endif %}
					</div>
					<div class="col-sm-12 col-xl-8  d-flex justify-content-center mt-3 mb-3">
						<img src="{{ asset('img/notnews.svg')}}" alt"choix des abonnements" style="width:80%"/>
					</div>
				{% else %}
					<div class="col-sm-12 col-lg-4">
						{{ include('backpack/_widgetNewsSubscription.html.twig') }}
					</div>
					<div class="col-sm-12 col-xl-8  d-flex justify-content-center mt-3 mb-3">
						<div id="showdata">
							<img src="{{ asset('img/news.svg')}}" alt"choix des abonnements" style="width:80%"/>
						</div>
					</div>
				{% endif %}
			</div>

			<div class="col-sm-12 col-lg-4 ">
				{{bkp.listBackpack(dash_options)}}
				<div class="mt-5">
					{{ render(controller('App\\Controller\\UserController::myWidgetNotificationAction')) }}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ absolute_url( asset('/vendor/axios/dist/axios.min.js')) }}"></script>
	<script src="{{ absolute_url( asset('/js/es_widget.js')) }}"></script>
	<script type="text/javascript">
		function getBackpackData(id) {

var url = '/ajax/backpack/' + id;
let showData = $('#showdata');
let hideData = $('#hidedata');
showData.fadeOut();

axios.get(url).then(function(response) {
showData.fadeIn(300);
html(showData, response.data.value);
html(hideData, '');
}).catch(function(error) {
console.log(error);
});
}
	</script>
{% endblock %}