{% extends 'base.html.twig' %}
{% block title %}
	{{ app_name }}
	- Page d'accueil
{% endblock %}
{% block page_title %}{% endblock %}

{% block page_content %}
	{% import "macros/default.html.twig" as dft %}
	{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		{{ dft.no_connexion() }}
	{% else %}
		{% import "macros/user.html.twig" as user %}
		{% import "macros/widgets.html.twig" as widgets %}
		{% import "macros/backpack.html.twig" as bkp %}


		{{user.messageEmailValidated(app.user)}}

		<div class="row justify-content-center mb-5 d-flex align-items-center">
			<div class="col-sm-12 col-lg-3 ">
				{{ render(controller('App\\Controller\\SubscriptionController::myWidgetAction')) }}
			</div>
			<div class="col-sm-12 col-lg-3 ">
				{{ render(controller('App\\Controller\\BackpackController::widgetBackpackSubscriptionAction')) }}
			</div>
			<div class="col-sm-12 col-lg-3 ">
				{{ render(controller('App\\Controller\\BackpackController::widgetBackpacksAction')) }}
			</div>
			<div class="col-sm-12 col-lg-3 ">
				{{ render(controller('App\\Controller\\BackpackController::widgetBackpacksInProgressAction')) }}
			</div>
		</div>

		<div class="row justify-content-center mt-2  d-flex align-items-center ">

			<div class="col-sm-12 col-lg-8 d-flex justify-content-center">


				<img src="{{ asset('img/home.svg')}}" alt"choix des abonnements" style="width:50%"/>
			</div>

			<div class="col-sm-12 col-lg-4 ">
				{{bkp.listBackpack(dash_options)}}

				<div class="m-5">
					{{ render(controller('App\\Controller\\UserController::myWidgetNotificationAction')) }}
				</div>
			</div>

		</div>


	{% endif %}

{% endblock %}
