<!-- Intervenants -->
<section>
	<h5 class="text-p-dark2 p-1  text-center ">
		Destinataires
	</h5>
	<div class="card-body">
		<div class="form-group row">
			<label for="{{ form.admp.vars.id }}">
				Agent de Direction du macro-processus
			</label>
			{{ form_widget(form.admp) }}
		</div>
	</div>
	<div class="card-body">
		<div class="form-group row">
			<label for="{{ form.pilotemp.vars.id }}">
				Pilotes du macro-processus
			</label>
			{{ form_widget(form.pilotemp) }}
		</div>
	</div>
	{% if item.process %}
	<div class="card-body">
		<div class="form-group row">
			<label for="{{ form.pilotep.vars.id }}">
				Pilotes du processus
			</label>
			{{ form_widget(form.pilotep) }}
		</div>
	</div>
	{% endif %}
	<div class="card-body">
		<div class="form-group row">
			<label for="{{ form.emetteur.vars.id }}">
				Emetteur
			</label>
			{{ form_widget(form.emetteur) }}
		</div>
	</div>
</section>
