
{% import "macros/widgets.html.twig" as widgets %}
<div class="d-flex justify-content-between">


<h3 class="text-p-dark">Actualités / Abonnement</h3>
<a href="{{ path('backpacks_news') }}" class=" text-p-dark2 text-lg mb-2 text-center ">Toutes les actualités</a>
</div>
<ul class="list-group list-group-flush">

{% for item in news %}

<li class=" list-group-item text-bold text-p-dark bg-p-light">

	<a href="{{ path('backpack_show',{id: item.id})}}" class="text-p-dark">

		{{ widgets.icon('backpack') }}
		{% if item.ref %}
			<span class="text-muted">{{ item.ref }}</span>
		{% endif %}

		{{ item.name }}

	</a>

</li>
{% endfor %}
<ul>

