{% import "macros/widgets.html.twig" as widgets %}

{% if nbr>1 %}
	<div class="small-box bg-p-dark ">
		<div class="inner text-p-light">
			<h3>{{ nbr }}</h3>
<p>Porte-document{{nbr>1?'s':''}}
	publié{{nbr>1?'s':''}} / Abonnements</p>

		</div>
		<div class="icon">
{{ widgets.icon('visibility') }}

		</div>
<a href="{{ path('backpacks_subscription')}}" class="small-box-footer ">Consulter

			<i class="fas fa-arrow-circle-right"></i>
		</a>
	</div>
{% endif %}

