{% import "macros/widgets.html.twig" as widgets %}

		<div class="mb-5">
			<a href="{{ path('backpacks_news') }}" target="_self" class=" hvr-float-shadow">
				<div class="d-flex w-100 align-items-center">
					<div class="col-sm-2 col-md-2 text-center">
						<i class="fas fa-certificate fa-2x text-p-dark2"></i>

					</div>
					<div class="col-sm-10 col-md-10">
						<h5 class="mb-1 text-p-dark2">
							<strong>Toutes les actualités</strong>
						</h5>
					</div>
				</div>
			</a>
		</div>
<h5 class="text-p-dark mb-2">Vos Actualités </h5>

<ul class="list-group list-group-flush">

	{% for item in news %}

		<li class=" list-group-item text-bold text-p-dark bg-p-light">

			<a onclick="getBackpackData({{item.id }});" style="cursor:pointer;" class="text-p-dark">

				{{ widgets.icon('backpack') }}
				{% if item.ref %}
					<span class="text-muted">{{ item.ref }}</span>
				{% endif %}

				{{ item.name }}

			</a>

		</li>
	{% endfor %}
	</ul>
