{% extends './mail/template.html.twig' %}

{% block title %}
	Le porte document est en révision
{% endblock %}
{% block title_content %}
	Porte-document en révision
{% endblock %}

{% block body %}
	<p>
le porte-document
<strong>{{ backpack.ref }} - {{ backpack.name }}</strong>
est en révision. La personne qui l'a envoyé dans cet été a laissé le commentaire suivant


	</p>
	<p>
		{{ backpack.stateContent | raw }}
	</p>
	<p>Lorsque qu'un porte-document est envoyé en révision, une copie reste accessible en consultation et l'original est dans l'état "à reprendre"</p>

	<p>
		Vous pouvez aller consulter le porte document à reprendre en cliquant sur le lien ou en saisissant l'adresse
		<a style="color:#57a7fe;text-decoration: none" href="{{ url('backpack_show', {'id': backpack.id}) }}">cliquez-ici</a>

		ou
								            collez le lien suivant dans votre navigateur
		<span style="color:#57a7fe;">
			{{ url('backpack_show', {'id': backpack.id}) }}
		</span>
	</p>


{% endblock %}
