{% extends 'baseProfil.html.twig' %}

{% block title %}
	{{ parent() }}
	Récupérez votre mot de passe
{% endblock %}

{% block body %}
	<div class="login-box">
		<div class="login-logo">
			{{app_name}}
		</div>
		<div class="card">
			<div class="card-body login-card-body">
				<p class="login-box-msg">Récupérez votre mot de passe</p>
				<div class="card-body">
					{{ form_start(form) }}

					{{ form_row(form.plainPassword) }}
					{{ form_row(form.plainPasswordConfirmation) }}


					<p class="text-center">
						<button name="recover" id="recover" class="btn btn-primary mb-4">
							Modifier
						</button>
					</p>
					{{ form_end(form) }}
				</div>

				<p class="mb-1 mt-5">
					<a class="d-flex justify-content-center" href="{{ path('app_login') }}" title="Create an account">
						Déjà un compte ?
					</a>
				</p>
			</div>

		</div>
	</div>
{% endblock %}
