{% extends 'profil/layout.html.twig' %}


{% block page_subtitle %}Changement du mot de passe{% endblock %}


{% block breadcrumb %}
    {% import "profil/_btn_actions_profil.html.twig" as actions %}
    {{ actions.show('password') }}
{% endblock %}


{% block page_content %}

    <div class="row justify-content-center">
        {% embed 'widgets/card-widget.html.twig' %}
            {% import "macros/submit.html.twig" as sub %}
            {% block card_class %}col-md-4{% endblock %}
            {% block card_body %}
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.plainPasswordOld) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.plainPassword) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.plainPasswordConfirmation) }}
                    </div>
                </div>
                <div class="d-none">
                    {{ sub.btn() }}
                </div>
                {{ form_end(form) }}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}