{% import "macros/workflow.html.twig" as workflow %}
<div>
    <i class="{% if block('timeline_item_icon') is defined %}{{ block('timeline_item_icon') }}{% endif %}"
    {% if block('timeline_item_class') is defined %}{{ block('timeline_item_class') }}{% endif %}></i>
    <div class="timeline-item">
        {% if block('timeline_item_tool') is defined %}
        <span class="time">{{ block('timeline_item_tool') }}</span>
        {% endif %}

        {% if block('timeline_item_header') is defined %}
            {% set header = block('timeline_item_header') %}
            {% if header is not empty %}
                <div class="timeline-header {% if block('timeline_item_header_class') is defined %}{{ block('timeline_item_header_class') }}{% endif %}">
                    {{ header|raw }}
                </div>
            {% endif %}
        {% endif %}

        {% if block('timeline_item_body') is defined %}
            {% set body = block('timeline_item_body') %}
            {% if body is not empty %}
                <div class="timeline-body {% if block('timeline_item_body_class') is defined %}{{ block('timeline_item_body_class') }}{% endif %}">
                    {{ body|raw }}
                </div>
            {% endif %}
        {% endif %}

        {% if block('timeline_item_footer') is defined %}
            {% set footer = block('timeline_item_footer') %}
            {% if footer is not empty %}
                <div class="timeline-footer {% if block('timeline_item_footer_class') is defined %}{{ block('timeline_item_footer_class') }}{% endif %}">
                    {{ footer|raw }}
                </div>
            {% endif %}
        {% endif %}

    </div>
</div>



