{% macro twig(items) %}
	{% set tableName = 'history' %}
	{% import "macros/datatables.html.twig" as tables %}
	{% import "macros/widgets.html.twig" as widget %}
	{% set columns = {
    'Utilisateur': {'class': 'alwaysVisible', 'orderBy': true},
	'Date': {'class': 'alwaysVisible', 'orderBy': true},
    'Domaine': {'class': 'alwaysVisible', 'orderBy': true},
    'Donnée concernée': {'class': 'alwaysVisible', 'orderBy': true},
    'Ancienne valeur': {'class': 'alwaysVisible', 'orderBy': true},
    'Nouvelle valeur': {'class': 'alwaysVisible', 'orderBy': true},
} %}

	{% import "@AdminLTE/Macros/default.html.twig" as macro %}

	{{ tables.datatable_header(tableName, columns,  {'striped': true}) }}
	{% for history in items %}
		<tr>
			<td class="align-middle ">
				{{ history.user.name}}
			</td>
			<td class="align-middle">{{ widget.showFullDateShortTime(history.createdAt) }}</td>
			<td class="align-middle">{{ history.domaine }}</td>
			<td class="align-middle">{{ history.title }}</td>
			<td class="align-middle">{{ history.oldData | raw }}</td>
			<td class="align-middle">{{ history.newData | raw }}</td>
		</tr>
	{% else %}
		{{ tables.datatable_data_else(columns) }}
	{% endfor %}
	{{ tables.datatable_footer(tableName,1) }}
{% endmacro %}

{% macro script() %}
	{% set tableName = 'history' %}
	{% import "macros/datatables.html.twig" as tables %}
	{% set columns = {
    'Utilisateur': {'class': 'alwaysVisible', 'orderBy': true},
	'Date': {'class': 'alwaysVisible', 'orderBy': true},
    'Domaine': {'class': 'alwaysVisible', 'orderBy': true},
    'Donnée concernée': {'class': 'alwaysVisible', 'orderBy': true},
    'Ancienne valeur': {'class': 'alwaysVisible', 'orderBy': true},
    'Nouvelle valeur': {'class': 'alwaysVisible', 'orderBy': true},
} %}
	{{ tables.datatable_javascript(tableName,0,columns) }}
{% endmacro %}
