{% macro messageEmailValidated(item) %}
	{% if item.emailvalidated == false %}
		<div class="alert alert-danger alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h5>
				<i class="icon fas fa-ban"></i>
				Adresse mail non vérifiée !</h5>
			<p>
				Attention votre adresse mail n'a pas encore été vérifiée.
			</p>
			<p>
				<a href="{{ path('profil_sendmail_email_validated') }}" class="text-primary">Cliquer ici</a>
				pour renvoyer le lien de vérification.
			</p>
		</div>
	{% endif %}
{% endmacro %}


{% macro lastConnexion(item) %}
	{% import _self as usr %}
	{{ usr.showDate(item.loginAt)}}
{% endmacro %}

{% macro dateSubscription(item) %}
	{% import _self as usr %}
	{{ usr.showDate(item.subscriptionAt)}}
{% endmacro %}



{% macro showDate(dateToShow) %}
	{% if dateToShow %}
		{% set difference = date("today").diff(date(dateToShow)) %}

		{% set leftDays = difference.days %}
		{% if leftDays > 396 %}
			<span class="text-danger font-weight-bold">
				{{ leftDays }}
				jours
			</span>
		{% elseif leftDays > 185 %}
			<span class="text-warning font-weight-bold">
				{{ leftDays }}
				jours
			</span>
		{% elseif leftDays == 0 %}
			<span class="text-success">
				Aujourd'hui
			</span>
		{% elseif leftDays == 1 %}
			<span class="text-success">
				Hier
			</span>
		{% else %}
			<span class="text-success">
				{{ leftDays }}
				jours
			</span>


		{% endif %}
	{% else %}
		--/--/----
	{% endif %}

{% endmacro %}

{% macro vignettes(items)%}
	{% import _self as usr %}
	<div class="p-2 text-center">
		{% for item in items %}
			{{ usr.vignette(item) }}
		{% endfor %}
	</div>
{% endmacro %}

{% macro vignette(item) %}
	<a class="list-inline-item  hvr-grow-shadow " href="{{ path('user_show', {'id': item.id}) }}">

		<div class="text-center">
			<img class="profile-user-img img-bordered-sm img-circle " src="{{ asset(item.avatar) }}" alt="User Image">
		</div>
		<div class="text-center align-center  text-p-dark" style="height:50px;width:110px">
			{{ item.name }}
		</div>
	</a>
{% endmacro %}

{% macro avatar(item) %}
	<img src="{{ asset(item.avatar) }}" text="{{item.name}}" style="cursor:pointer" alt="{{item.name}}" class="img-circle elevation-2 direct-chat-img mr-3" data-toggle="modal" data-target="#avatar_{{item.id}}">
	<div class="modal fade" id="avatar_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="avatar_{{item.id}}" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">{{item.name}}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					<img class="rounded-circle img-fluid " src="{{ asset(item.avatar) }}" alt="User Image">
				</div>
			</div>
		</div>
	</div>

{% endmacro %}
