{% macro icon(icon, addclass) %}
	<i class="{{ icon|icon(icon) }} {{ addclass }}"></i>
{% endmacro %}

{% macro showFullDateShortTime(date) %}
	{{ date |format_datetime('full', 'short') }}
{% endmacro %}

{% macro showMediumDateShortTime(date) %}
	{{ date |format_datetime('medium', 'short') }}
{% endmacro %}

{% macro showMediumDateNoneTime(date) %}
	{{ date |format_datetime('medium', 'none') }}
{% endmacro %}

{% macro showFullDateNoneTime(date) %}
	{{ date |format_datetime('full', 'none') }}
{% endmacro %}


{% macro badge(title, bgcolor, forecolor) %}
	<span class="badge" style="background-color:{{ bgcolor }}{{ forecolor ? " ;color:" ~ forecolor :'' }}">{{ title | raw }}</span>
{% endmacro %}
