{% if item is defined %}

	<div class="row justify-content-center">
		<div class="{{ col_1_2 }}">
			{% embed 'widgets/card-widget.html.twig' %}
				{% block card_class %}
					card-primary card-outline
				{% endblock %}
				{% block card_body_class %}
					box-profile
				{% endblock %}
				{% block card_body %}
					<p class="text-center">
						<a href="{{ path('admin_mprocess_show',{id:item.mprocess.id}) }}">
							{{ item.mprocess.fullname | raw }}
						</a>
					</p>
					<div class="text-center display-2">
						<strong>{{ item.ref }}</strong>
					</div>
					<h2 class="profile-username text-center">{{ item.Name }}</h2>
					<p class="text-center">
						<small class=" text-muted">
							{{ item.grouping }}
						</small>
					</p>
					<small class="float-right">
						{% if item.isEnable %}
							<span class="text-success">Visible</span>
						{% else %}
							<span class="text-danger">Masquée</span>
						{% endif %}
					</small>
				{% endblock %}
			{% endembed %}

			{% if item.content %}
				{% embed 'widgets/card-widget.html.twig' %}
					{% block card_body %}
						{{ item.content |raw }}

					{% endblock %}
				{% endembed %}
			{% endif %}


			{% embed 'widgets/card-widget.html.twig' %}
				{% block card_title %}Valideurs
				{% endblock %}
				{% block card_body_class %}p-0
				{% endblock %}
				{% block card_body %}
					{% import "macros/user.html.twig" as usr %}
					{{ usr.vignettes(item.validators) }}
				{% endblock %}
			{% endembed %}

			{% embed 'widgets/card-widget.html.twig' %}
				{% block card_title %}Contributeurs
				{% endblock %}
				{% block card_body_class %}p-0
				{% endblock %}
				{% block card_body %}
					{% import "macros/user.html.twig" as usr %}
					{{ usr.vignettes(item.contributors) }}

				{% endblock %}
			{% endembed %}

			{% embed 'widgets/card-widget.html.twig' %}
				{% block card_title %}Abonnés
				{% endblock %}
				{% block card_body_class %}p-0
				{% endblock %}
				{% block card_body %}
					<div class="users-list"></div>
				{% endblock %}
			{% endembed %}
		</div>
	</div>


{% endif %}
