{% if item.dir1 %}

	{% embed 'widgets/card-widget.html.twig' %}

		{% block card_class %}flat
		{% endblock %}
		{% block card_body_class %}p-0
		{% endblock %}

		{% block card_body %}
			{% import "macros/widgets.html.twig" as widgets %}

			<div class="form-group row m-2 js-createTip-wrapper js-createTip-wrapper">

				<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
					<span class="">
						<span class="text-yellow">
							<i class="fa fa-folder-open"></i>


						</span>
						{{item.dir1}}

					</span>
				</div>
				{% if item.dir2 %}
					<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						<span class="">
							<span class="text-yellow">

								<i class="fa fa-folder-open"></i>


							</span>
							{{item.dir2}}

						</span>
					</div>
				{% endif %}
				{% if item.dir3 %}

					<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						<span class="">
							<span class="text-yellow">

								<i class="fa fa-folder-open"></i>


							</span>
							{{item.dir3}}

						</span>
					</div>
				{% endif %}
				{% if item.dir4 %}

					<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						<span class="">
							<span class="text-yellow">

								<i class="fa fa-folder-open"></i>


							</span>
							{{item.dir4}}

						</span>
					</div>
				{% endif %}

				{% if item.dir5 %}
					<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						<span class="">
							<span class="text-yellow">
								<i class="fa fa-folder-open"></i>
							</span>
							{{item.dir5}}
						</span>
					</div>
				{% endif %}
				<div class="createTip ">
					<div class="createTip__title">
						Arborescence
					</div>
					<p>
						Cette section vous permet d'affiner le classement de vos porte-documents.
					</p>

				</div>
			</div>


		{% endblock %}

	{% endembed %}
{% endif %}
