{% if item.dir1 %}

	{% embed 'widgets/card-widget.html.twig' %}

		{% block card_class %}flat
		{% endblock %}
		{% block card_body_class %}p-0
		{% endblock %}

		{% block card_body %}
			{% import "macros/widgets.html.twig" as widgets %}

			<div class="form-group row m-2 js-createTip-wrapper js-createTip-wrapper">
				<ul class="list-unstyled">
					{% if item.dir1 %}
						<li>
							<span class="text-yellow">
								<i class="fa fa-folder-open"></i>
							</span>
							{{item.dir1}}
						</li>
					{% endif %}
					{% if item.dir2 %}
						<li>
							<span class="text-yellow">
								<i class="fa fa-folder-open"></i>
							</span>
							{{item.dir2}}
						</li>
					{% endif %}
					{% if item.dir3 %}
						<li>
							<span class="text-yellow">
								<i class="fa fa-folder-open"></i>
							</span>
							{{item.dir3}}
						</li>
					{% endif %}
					{% if item.dir4 %}
						<li>
							<span class="text-yellow">
								<i class="fa fa-folder-open"></i>
							</span>
							{{item.dir4}}
						</li>
					{% endif %}
					{% if item.dir5 %}
						<li>
							<span class="text-yellow">
								<i class="fa fa-folder-open"></i>
							</span>
							{{item.dir5}}
						</li>
					{% endif %}
				</ul>
				<div class="createTip ">
					<div class="createTip__title">
						Arborescence
					</div>
					<p>
						Cette section vous permet d'affiner le classement de vos porte-documents.
					</p>

				</div>
			</div>


		{% endblock %}

	{% endembed %}
{% endif %}
