{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/workflow.html.twig" as workflow %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/category.html.twig" as category %}
{% import "macros/backpack.html.twig" as bpk %}
{% import "macros/user.html.twig" as user %}

{% if item.isHelpInterService %}
	<div class="d-flex align-items-center text-muted alert alert-info">
		Ce porte-document peut être utilisé dans le cadre de l'aide inter-service
	</div>
{% endif %}
<div class="d-flex align-items-center  ">
	{{ user.avatar(item.owner) }}
	<div class="d-flex flex-column ">
		<div class="text-bold text-p-dark text-lg">
			{% if item.ref %}
				<span class="text-muted">
					{{ item.ref }}
				</span>
			{% endif %}
			{{ item.name }}
		</div>
		<div class="text-secondary text-small">
			{{ category.icone(item) }}
			{{ item.category.name }}
			{% if item.updatedat %}
				modifié{{ item.category.genre == true ?'e ':' ' }}le
				{{ widgets.showFullDateNoneTime(item.updatedat) }}
			{% else %}
				créé{{ item.category.genre == true ?'e ':' ' }}le
				{{ widgets.showFullDateNoneTime(item.createdat) }}
			{% endif %}
		</div>
	</div>

	<div class="ml-auto ">
		{% if item.stateCurrent=='published' %}
			{{ bpk.isNew(item.updatedat) }}
		{% endif %}
		<div class="badge">
			{{ workflow.badge_state(item.stateCurrent) }}
		</div>
	</div>
</div>

<section>

	<div class="row  d-flex justify-content-end mr-1 pb-2 text-gray">

		<div class="badge">
			{% if item.backpackSlave %}
				<a href="{{ path('backpack_show',{id:item.backpackSlave.id}) }}">
					Porte-document en révision


				</a>
			{% endif %}
			{% if item.backpackMaster %}
				<a href="{{ path('backpack_show',{id:item.backpackMaster.id}) }}">
					Porte-document principal
				</a>
			{% endif %}
		</div>

	</div>
</section>