{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/workflow.html.twig" as workflow %}

<h3 class="text-bold text-info">
	{{ widgets.icon('backpack') }}
	{{ item.name }}
</h3>
<div class="row d-flex justify-content-end">
	<div class="bg-white  mr-4 text-info shadow">
		<span class=" bg-white p-1  text-secondary h-100">
			<i class="{{ item.category.icone }} " style="
				                {% if item.category.forecolor is defined %}
				                    color:{{ item.category.forecolor }};
				                {% endif %}
				        {% if item.category.bgcolor is defined %}
				            background-color:{{ item.category.bgcolor }};
				        {% endif %}"></i>
			{{ item.category.name }}
		</span>
		|<span class=" bg-white p-1  pl-2 text-secondary">
			{{ widgets.icon('user','text-info') }}
			{{item.owner.name}}
		</span>
		|<span class=" bg-white p-1  pl-2 text-secondary">
			{{ widgets.icon('calendar','text-info') }}
			<small class="text-muted">Créé
			</small>
			{{ widgets.showShortDate(item.createdat) }}
		</span>
		|<span class=" bg-white p-1  pl-2 text-secondary">
			{{ widgets.icon('calendar','text-info') }}

			<small class="text-muted">Modifié
			</small>
			{{ widgets.showShortDate(item.updatedat) }}
		</span>
		|<span class=" bg-white p-1 pl-2 text-secondary">
			{{ workflow.badge_state(item.stateCurrent) }}
		</span>
	</div>
</div>
