<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ app_name }} | {% block title %} {% endblock %} </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    {{ encore_entry_link_tags('app') }}
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div id="alert">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message |raw }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% block body %}

    {% endblock %}
</div>
<!-- jQuery -->
{{ encore_entry_script_tags('app') }}

</body>
</html>
