{% if item is defined %}
	<div class="row justify-content-center">
		<div class="{{ col_1_2 }}">


			{% embed 'widgets/card-widget.html.twig' %}
				{% block card_class %}
					card-primary card-outline
				{% endblock %}
				{% block card_body_class %}
					box-profile
				{% endblock %}
				{% block card_body %}

					<div class="text-center">
						<img class="profile-user-img img-fluid img-circle" src="{{ asset(item.avatar) }}" alt="User profile picture">
					</div>

					<h3 class="profile-username text-center">{{ item.name }}</h3>

					<p class="text-muted text-center">{{ item.email }}</p>

					<small class="float-right">
						{% if item.isEnable %}
							<span class="text-success">Visible</span>
						{% else %}
							<span class="text-danger">Masquée</span>
						{% endif %}
					</small>
				{% endblock %}
			{% endembed %}

			{% embed 'widgets/card-widget.html.twig' %}
				{% block card_class %}
					border border-info
				{% endblock %}
				{% block card_body_class %}
					text-center
				{% endblock %}
				{% block card_body %}
					{% if item.isSubscription %}
						<span class="text-success">
							<i class="fa fa-check-circle"></i>
							L'utilisateur est abonné
						</span>
					{% else %}
						<span class="text-danger">
							<i class="fa fa-times-circle"></i>
							L'utilisateur n'est pas encore abonné
						</span>
					{% endif %}

				{% endblock %}
			{% endembed %}

			{% embed 'widgets/card-widget.html.twig' %}
				{% import "macros/widgets.html.twig" as widgets %}
				{% import "macros/user.html.twig" as usr %}

				{% block card_body %}
					{% if item.phone %}
						<div class="row">
							<div class="col-3">
								<b>Téléphone</b>
							</div>
							<div class="col-9">
								{{ item.phone }}
							</div>
						</div>
					{% endif %}

					{% if item.loginat %}
						<div class="row">
							<div class="col-3">
								<b>Dernière connexion</b>
							</div>
							<div class="col-9">
								{% if item.loginat %}
									{{ usr.lastConnexion(item)  }}

								{% endif %}
							</div>
						</div>
					{% endif %}

					{% if item.createdat %}
						<div class="row">
							<div class="col-3">
								<b>Date de création</b>
							</div>
							<div class="col-9">
								{% if item.createdat %}
									{{ widgets.showFullDateShortTime(item.createdat) }}
								{% endif %}
							</div>
						</div>
					{% endif %}

					{% if item.modifiedat %}
						<div class="row">
							<div class="col-3">
								<b>Dernière modification</b>
							</div>
							<div class="col-9">
								{% if item.modifiedat %}
									{{ widgets.showFullDateShortTime(item.modifiedat) }}
								{% endif %}
							</div>
						</div>
					{% endif %}

					{% if item.content %}
						<div class="row">
							<div class="col-3">
								<b>Description</b>
							</div>
							<div class="col-9">
								{{ item.content | raw }}
							</div>
						</div>
					{% endif %}
				{% endblock %}
			{% endembed %}

			{% embed 'widgets/card-widget.html.twig' %}
				{% block card_title %}Habilitations
				{% endblock %}
				{% block card_body_class %}p-0
				{% endblock %}
				{% block card_body %}
					<div class="list-group list-group-flush dropright">
						<div class="list-group-item list-group-item-action">
							{% if 'ROLE_ADMIN' in item.roles %}
								<span class="text-success">
									<i class="fas fa-check"></i>
									Administrateur</span>
							{% else %}
								<span class="text-danger">
									<i class="fas fa-times"></i>
									Administrateur</span>
							{% endif %}
						</div>
						<div class="list-group-item list-group-item-action">
							{% if 'ROLE_GESTIONNAIRE' in item.roles %}
								<span class="text-success">
									<i class="fas fa-check"></i>
									Gestionnaire</span>
							{% else %}
								<span class="text-danger">
									<i class="fas fa-times"></i>
									Gestionnaire</span>
							{% endif %}
						</div>
						<div class="list-group-item list-group-item-action">
							{% if 'ROLE_USER' in item.roles %}
								<span class="text-success">
									<i class="fas fa-check"></i>
									Utilisateur</span>
							{% else %}
								<span class="text-danger">
									<i class="fas fa-times"></i>
									Utilisateur</span>
							{% endif %}
						</div>
						<div class="list-group-item list-group-item-action">
							{% if item.isDoc %}
								<span class="text-success">
									<i class="fas fa-check"></i>
									Service documentation</span>
							{% else %}
								<span class="text-danger">
									<i class="fas fa-times"></i>
									Service documentation</span>

							{% endif %}
						</div>

						<div class="list-group-item list-group-item-action">
							{% if  item.isControl %}
								<span class="text-success">
									<i class="fas fa-check"></i>
									Service contrôle</span>
							{% else %}
								<span class="text-danger">
									<i class="fas fa-times"></i>
									Service contrôle</span>

							{% endif %}
						</div>

					</div>
				{% endblock %}
			{% endembed %}
		</div>
		<div class="{{ col_2_2 }}">
			{% if item.mProcessDirValidators | length >0 or  item.mProcessPoleValidators | length >0 or item.mProcessContributors | length >0 %}
				{% embed 'widgets/card-widget.html.twig' %}
					{% import "macros/widgets.html.twig" as widgets %}
					{% block card_title %}Macro processus
					{% endblock %}
					{% block card_body_class %}p-0
					{% endblock %}
					{% block card_body %}
						<div class="list-group">
							{% for mp in mps %}
								{% if mp in item.mProcessDirValidators or mp in item.mProcessPoleValidators or mp in item.mProcessContributors %}
									<a href="{{path('admin_mprocess_show',{id:mp.id})}}" class="list-group-item list-group-item-action  hvr-float-shadow  d-flex justify-content-between align-items-center ">

										<span class='text-primary mr-5'>
											{{ widgets.icon('mprocess') }}
											{{ mp.fullname | raw}}
										</span>
										<span>
											{% if mp in item.mProcessDirValidators %}
												<i class="fas fa-user-tie mr-1 text-success" title='Agent de Direction'></i>
											{% else %}
												<i class="fas fa-user-tie mr-1 text-light"></i>
											{% endif %}
											{% if mp in item.mProcessPoleValidators %}
												<i class="fas fa-user-check text-success" title='Manager stratégique'></i>
											{% else %}
												<i class="fas fa-user-check text-light"></i>
											{% endif %}
											{% if mp in item.mProcessContributors %}
												<i class="fas fa-user-edit text-success" title='Contributeur'></i>
											{% else %}
												<i class="fas fa-user-edit text-light"></i>
											{% endif %}
										</span>
									</a>
								{% endif %}
							{% endfor %}
						</div>

					{% endblock %}
				{% endembed %}
			{% endif %}

			{% if  item.processValidators | length >0 or item.processContributors | length >0 %}
				{% embed 'widgets/card-widget.html.twig' %}
					{% import "macros/widgets.html.twig" as widgets %}
					{% block card_title %}Macro processus
					{% endblock %}
					{% block card_body_class %}p-0
					{% endblock %}
					{% block card_body %}
						<div class="list-group">
							{% for p in ps %}
								{% if p in item.processValidators or p in item.processContributors %}
									<a href="{{path('admin_process_show',{id:p.id})}}" class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center  hvr-float-shadow">

										<span class='text-primary mr-5'>
											{{ widgets.icon('process') }}
											{{ p.fullname | raw}}
										</span>
										<span>
											{% if p in item.processValidators %}
												<i class="fas fa-user-check text-success" title='Valideur'></i>
											{% else %}
												<i class="fas fa-user-check text-light"></i>
											{% endif %}
											{% if p in item.processContributors %}
												<i class="fas fa-user-edit text-success" title='Contributeur'></i>
											{% else %}
												<i class="fas fa-user-edit text-light"></i>
											{% endif %}
										</span>
									</a>
								{% endif %}
							{% endfor %}
						</div>

					{% endblock %}
				{% endembed %}
			{% endif %}


		</div>
	</div>
{% endif %}
