{% extends 'base.html.twig' %}
{% import "macros/datatables.html.twig" as tables %}
{% set columns = {
    '#': {'class': 'alwaysVisible text-center', 'orderBy': true},
    'Total': {'class': 'alwaysVisible text-center', 'orderBy': true},
	'Modifiable': {'class': 'alwaysVisible text-center', 'orderBy': true},
	'Les miens': {'class': 'alwaysVisible text-center', 'orderBy': true},
} %}


{% block title %}
	{{ app_name }}
	- Tableau de bord
{% endblock %}
{% block page_title %}
	<i class="fas fa-dashboard"></i>
	Tableau de bord

{% endblock %}

{% block page_content %}


	{% import "macros/backpack.html.twig" as bkp %}
	{% import "macros/widgets.html.twig" as widgets %}
	{% import "macros/workflow.html.twig" as wkf %}


	<div class="row justify-content-center mt-2">
		<div class="col-sm-12 col-lg-6 ">

			{{ tables.datatable_header('dsb', columns,  {'striped': true}) }}

			<tr>
				{{ wkf.state_table_td('draft') }}

				{% for  item in draft %}
					<td class="align-middle text-center text-lg">
						<a class=" hvr-float-shadow " href="{{ path(item.route) }}">
							<span class=''>
								{{ item.data}}
							</span>
						</a>
					</td>

				{% endfor %}

			</tr>

			<tr>
				{{ wkf.state_table_td('abandonned') }}


				{% for  item in abandonned %}
					<td class="align-middle text-center text-lg">
						<a class=" hvr-float-shadow " href="{{ path(item.route) }}">
							<span class=''>
								{{ item.data}}
							</span>
						</a>
					</td>
				{% endfor %}

			</tr>

			{{ tables.datatable_footer('dsb',1) }}

		</div>
		<div class="col-sm-12 col-lg-6 "></div>
	</div>
{% endblock %}
