<div class="card card-primary card-outline ">
	<div class="card-body">
		<div class="row">
			<div class="col-5 col-sm-3">
				<div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="vert-tabs-5-tab" data-toggle="pill" href="#vert-tabs-5" role="tab" aria-controls="vert-tabs-5" aria-selected="true">
						Quand sera lancé la notification ?
					</a>
					<a class="nav-link" id="vert-tabs-1-tab" data-toggle="pill" href="#vert-tabs-1" role="tab" aria-controls="vert-tabs-1" aria-selected="false">
						Emetteur des notifications
					</a>
					<a class="nav-link" id="vert-tabs-2-tab" data-toggle="pill" href="#vert-tabs-2" role="tab" aria-controls="vert-tabs-2" aria-selected="false">
						Paramètres des notifications
					</a>
					<a class="nav-link" id="vert-tabs-3-tab" data-toggle="pill" href="#vert-tabs-3" role="tab" aria-controls="vert-tabs-3" aria-selected="false">
						Notification sur la page d'accueil
					</a>
					<a class="nav-link" id="vert-tabs-4-tab" data-toggle="pill" href="#vert-tabs-4" role="tab" aria-controls="vert-tabs-4" aria-selected="false">
						Qui sera notifié ?
					</a>
				</div>
			</div>
			<div class="col-7 col-sm-9">
				<div class="tab-content" id="vert-tabs-tabContent">
					<div class="tab-pane text-left fade " id="vert-tabs-1" role="tabpanel" aria-labelledby="vert-tabs-1-tab">
						<ul>
							<li>Serveur :
								{{es_mailer_smtp_host }}</li>
							<li>Port :
								{{ es_mailer_smtp_port}}</li>
							<li>Nom du contact :
								{{es_mailer_user_name }}</li>
							<li>Adresse de messagerie :
								{{ es_mailer_user_mail}}</li>
						</ul>
					</div>
					<div class="tab-pane fade" id="vert-tabs-2" role="tabpanel" aria-labelledby="vert-tabs-2-tab">
						<ul>
							<li>Notification pour l'état
								<b>à reprendre</b>
								:
								{{ es_mailer_workflow_toresume?"<span class='badge badge-success'>Actif</span>":"<span class='badge badge-warning'>Inactif</span>" }}</li>
							<li>Notification pour l'état
								<b>à valider</b>
								:
								{{ es_mailer_workflow_tovalidate?"<span class='badge badge-success'>Actif</span>":"<span class='badge badge-warning'>Inactif</span>" }}</li>
							<li>Notification pour l'état
								<b>à contrôler</b>
								:
								{{ es_mailer_workflow_tocontrol?"<span class='badge badge-success'>Actif</span>":"<span class='badge badge-warning'>Inactif</span>" }}</li>
							<li>Notification pour l'état
								<b>à vérifier</b>
								:
								{{ es_mailer_workflow_tocheck?"<span class='badge badge-success'>Actif</span>":"<span class='badge badge-warning'>Inactif</span>" }}</li>
							<li>Notification pour l'état
								<b>à publier</b>
								:
								{{ es_mailer_workflow_published?"<span class='badge badge-success'>Actif</span>":"<span class='badge badge-warning'>Inactif</span>" }}</li>
							<li>Notification pour l'état
								<b>à réviser</b>
								:
								{{ es_mailer_workflow_torevise?"<span class='badge badge-success'>Actif</span>":"<span class='badge badge-warning'>Inactif</span>" }}</li>
							<li>Notification pour l'état
								<b>en révision</b>
								:
								{{ es_mailer_workflow_inreview?"<span class='badge badge-success'>Actif</span>":"<span class='badge badge-warning'>Inactif</span>" }}</li>
						</uL>
					</div>
					<div class="tab-pane fade" id="vert-tabs-3" role="tabpanel" aria-labelledby="vert-tabs-3-tab">
						{{ include('documentation/partial/_notification_home.html.twig') }}

					</div>
					<div class="tab-pane fade" id="vert-tabs-4" role="tabpanel" aria-labelledby="vert-tabs-4-tab">
						<p>
							Les administrateurs et les gestionnaires peuvent consulter la liste des personnes ayant donné leur accord pour recevoir les notifications.
						</p>
						<p>
							A partir de l'espace d'administration, licquez sur le lien
							<b>Utilisateurs avec notification</b>
						</p>
						<div class="doc-image mt-4 mb-4">
							<img src="{{ absolute_url( asset('doc/notification_1.png')) }}">
						</div>
						<p>
							La liste sera alors affiché en consultation avec la date où la notification a été autorisée
						</p>
						<div class="doc-image mt-4 mb-4">
							<img src="{{ absolute_url( asset('doc/notification_2.png')) }}">
						</div>
					</div>
					<div class="tab-pane fade active show" id="vert-tabs-5" role="tabpanel" aria-labelledby="vert-tabs-5-tab">
						<p>
							La notification est lancée par défaut une fois par semaine, le week end.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.card -->
</div>